includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9

    paths:
        - src

    excludePaths:
        - src/Infrastructure/Persistence/Eloquent/Models


    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'

    stubFiles:
        - tests/phpstan-stub.php

    ignoreErrors:
        - '#Access to an undefined property PHPUnit\\\\Framework\\\\TestCase#'

