includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9
    reportUnmatchedIgnoredErrors: false

    paths:
        - src

    excludePaths:
        - src/Infrastructure/Persistence/Eloquent/Models


    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Access to an undefined property PHPUnit\\\\Framework\\\\TestCase#'
        - '#Cannot cast mixed to string#'
        - '#Cannot cast mixed to float#'

    stubFiles:
        - tests/phpstan-stub.php

