includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9

    paths:
        - src

    excludePaths:
        - src/Infrastructure/Persistence/Eloquent/Models

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
